.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.productList, .product {
  margin-top: 30px !important;
  justify-content: center !important;
  align-items: center !important;
}

.c {
  width: 285px !important;
  
}

.card {height: 400px !important;}

.image {
  height: 70% !important;
  /*width: 200px !important;*/
  margin: auto !important;
}

.card-img {
  height: 100% !important;
}

.header {
  font-size: 14px !important;
}

.logo {
  color: #000 !important;
}

.meta {
  font-size: 12px !important;
}

/*.card-img {
  width: 100% !important;
}*/
